services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    ZJKiza\HttpResponseValidator\Contract\ResultInterface: '@ZJKiza\HttpResponseValidator\Monad\Result'

    ZJKiza\HttpResponseValidator\Monad\Result: ~
    ZJKiza\HttpResponseValidator\Monad\Success: ~
    ZJKiza\HttpResponseValidator\Monad\Failure: ~

    ZJKiza\HttpResponseValidator\Validator\Helper\ErrorCollector: ~

    ZJKiza\HttpResponseValidator\HttpLogger\HttpResponseLogger:
        public: true

    ZJKiza\HttpResponseValidator\Validator\ArrayStructureExactValidation:
        public: true

    ZJKiza\HttpResponseValidator\Validator\ArrayStructureInternalValidation:
        public: true

    # Handler services
    ZJKiza\HttpResponseValidator\Handler\ExtractResponseJsonHandler:
        public: true
        tags:
          - { name: 'zjkiza.http_response_validate.handler_factory'}

    ZJKiza\HttpResponseValidator\Handler\HttpResponseLoggerHandler:
        public: true
        tags:
          - { name: 'zjkiza.http_response_validate.handler_factory'}

    ZJKiza\HttpResponseValidator\Handler\ArrayStructureValidateExactHandler:
        public: true
        tags:
          - { name: 'zjkiza.http_response_validate.handler_factory' }

    ZJKiza\HttpResponseValidator\Handler\ArrayStructureValidateInternalHandler:
      public: true
      tags:
        - { name: 'zjkiza.http_response_validate.handler_factory' }

    handler_factory:
        public: true
        class: ZJKiza\HttpResponseValidator\Handler\Factory\HandlerFactory
        arguments:
          -  !tagged_iterator { tag: 'zjkiza.http_response_validate.handler_factory', default_index_method: 'getIndex' }

    ZJKiza\HttpResponseValidator\Contract\HandlerFactoryInterface: '@handler_factory'
